/* Fonts section  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #F948B2;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: auto 80px;
}

/* Header Section  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 12px;
    align-items: center;
}

#gamer-icon {
    width: 86.041px;
    height: 40px;
}

.nav {
    display: flex;
    gap: 56px;
}

.navigation {
    display: flex;
    gap: 32px;
}

.follow-section {
    display: flex;
    gap: 24px;
}

.follow-icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-title {
    font-weight: 700;
}

#logo-title, #annivarsary-title {
    color: var(--primary-color);
}


/* Goat section  */
.goat-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

#play-title {
    font-size: 48px;
    font-weight: 600;
    margin: 0px;
}

#goat-title {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
}

.goat-details {
    display: flex;
    align-items: center;
    gap: 5px;
}

.goat-btn {
    margin-top: 25px;
}

.sign-in-btn,
.know-more-btn {
    border: none;
    border-radius: 48px;
    padding: 21px 40px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

#rogue-btn {
    border: none;
    border-radius: 48px;
    padding: 21px 40px;
    background-color: #4EC5F7;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
}

/* We Are Gamer Section  */
.gamer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.gamer-container, .gamer-details p {
    text-align: end;
}

.gamer-details {
    width: 520px;
    /* margin-right: 100px; */
}

.gamer-container h1, #funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#purpose {
    font-size: 20px;
    font-weight: 500;
}

#unleash {
    color: #534C64;
    font-size: 28px;
    font-weight: 700;
}

/* Online Games Section  */
.online-games h1, p{
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card p{
    text-align: start;
}

.anniversary-container{
    display: flex;
}